.chat__header-container {
  height: 50px;
  background: rgba(80, 80, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chat__header-container_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  gap: 20px;
}

.chat__header-container_left-profile {
  height: 40px;
  width: 40px;
}

.chat__header-container_left-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat__header-container_left p {
  margin-left: 10px;
}

.chat__header-container_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* transition: 0.5s ease; */
  margin-right: 20px;
  position: relative;
}

.chat__header-container_right.userHeader {
  width: auto;
}

.chat__header-container_right.chatroomHeader {
  width: 20%;
}

.notificationIconContainer {
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  position: relative;
}

.notificationIconContainer.disabled {
  cursor: auto;
  border-radius: 50%;
  background: rgba(85, 85, 85, 0.2);
}

.notificationIconContainer.disabled:hover {
  border-radius: 50%;
  background: rgba(85, 85, 85, 0.2);
}

.notificationIconContainer .chatroom-notification-count {
  position: absolute;
  top: 0px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}

.chatroomNotificationList {
  position: absolute;
  top: 100%;
  right: 0%;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  z-index: 100;
}

.chatroomNotificationList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chatroomNotificationList ul li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.chatroomNotificationList ul p {
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

.chatroomNotificationList ul p span {
  font-weight: normal;
}

.chatroomNotificationList ul li.notificationRead {
  background-color: #e0e0e0;
  color: #555555;
}

.chatroomNotificationList ul li.notificationUnRead {
  background-color: #ffffcc;
  color: #333333;
}

.chatroomNotificationList .buttonDisabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}

.joinRequestButtonsGroup {
  margin: 10px 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.chatroomAcceptButton,
.chatroomRejectButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
}

.chatroomAcceptButton {
  background-color: #28a745;
}

.chatroomRejectButton {
  background-color: #dc3545;
}

.addIconContainer,
.infoIconContainer {
  cursor: pointer;
  font-size: 32px;
  transition: 0.5s ease;
  display: flex;
}

.addIconContainer.disabled,
.infoIconContainer.disabled {
  cursor: auto;
  border-radius: 50%;
  background: rgba(85, 85, 85, 0.2);
}

.refreshChatroomIconContainer {
  cursor: pointer;
  transition: 0.5s ease;
  display: flex;
  position: relative;
}

.hoverTextForRefreshIcon {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position it below the icon */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  opacity: 0;
  transition: opacity 0.3s;
}

.addIconContainer:hover,
.infoIconContainer:hover,
.notificationIconContainer:hover,
.refreshChatroomIconContainer:hover {
  border-radius: 50%;
  background: rgba(85, 85, 85, 0.2);
}

.chat__header-container_refreshIcon:hover + .hoverTextForRefreshIcon {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.addIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.infoIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.infoBoxFriend,
.infoBoxChatRoom {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid#ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.infoBoxFriend ul,
.infoBoxChatRoom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infoBoxFriend li,
.infoBoxChatRoom li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.friendInfoBox {
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.friendInfoBox .imgBox {
  height: 450px;
  width: 450px;
  border-radius: 0;
  border-radius: 10%;
}

.friendInfoBox .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.friendInfoBox h2 {
  color: var(--color-text);
}

.friendInfoBox p {
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: var(--color-subtext);
}

.chatroomInfoBox {
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.chatroomInfoBox .chatroomMainDetailBox {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.chatroomInfoBox .chatroomMainDetailBox .item {
  flex: 1;
}

.chatroomInfoBox .chatroomMainDetailBox .infoBoxTextContent {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.chatroomInfoBox .imgBox {
  flex: 2;
  height: 350px;
  width: 350px;
  border-radius: 10%;
  margin: auto 0;
}

.chatroomInfoBox .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.chatroomInfoBox button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.chatroomInfoBox .chatroomInfoEditButton {
  background-color: #007BFF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  width: 200px;
}

.chatroomInfoBox .chatroomInfoEditButton:hover {
  background-color: #0056b3;
}

.adminsMembersGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.adminContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adminFirstParagraph {
  width: 100px;
}

.admins {
  display: flex;
  align-items: center;
  gap: 10px;
}

.adminInfoContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admins .adminImgContainer {
  height: 110px;
  width: 110px;
  border-radius: 10px;
}

.admins .adminImgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.adminNavigation,
.memberNavigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.adminNavigation button,
.memberNavigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.adminNavigation button:disabled,
.memberNavigation button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.adminNavigation button:hover,
.memberNavigation button:hover {
  background-color: #0056b3;
}

.memberContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.memberFirstParagraph {
  width: 100px;
}

.members {
  display: flex;
  gap: 10px;
  align-items: center;
}

.memberInfoContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.members .memberImgContainer {
  height: 110px;
  width: 110px;
}

.members .memberImgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.chat__header-container_notificationIcon,
.chat__header-container_addIcon,
.chat__header-container_infoIcon,
.chat__header-container_refreshIcon,
.chat__header-container .crossIcon {
  font-size: 42px;
  padding: 10px;
}

.messageForUnknownUser {
  text-align: center;
  font-size: 24px;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2980b9, #3498db);
}


@media (min-width: 768px) and (max-width: 1200px) {
  .chatroomNotificationList {
    width: 50%;
  }

  .chatroomInfoBox .chatroomMainDetailBox {
    gap: 20px;
    height: 50%;
  }

  .chatroomInfoBox .chatroomMainDetailBox .imgBox {
    height: 250px;
    width: 250px;
  }

  .adminsMembersGroup {
    gap: 10px;
    width: 90%;
  }

  .adminContainer p {
    font-size: 14px;
  }

  .adminFirstParagraph {
    width: 75px;
    text-align: center;
  }

  .admins {
    gap: 5px;
  }

  .adminInfoContainer {
    width: 200px;
  }

  .admins .adminImgContainer {
    height: 55px;
    width: 55px;
  }

  .memberContainer p {
    font-size: 14px;
  }

  .memberFirstParagraph {
    width: 75px;
  }

  .members {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .memberInfoContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .members .memberImgContainer {
    height: 55px;
    width: 55px;
  }
}

@media (max-width: 767px) {
  .chatroomInfoBox .chatroomInfoEditButton {
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 4px;
    color: #007BFF;
  }

  .chatroomInfoBox .chatroomInfoEditButton {
    background-color: transparent;
    color: #0056b3;
  }

  .chatroomNotificationList {
    width: 60%;
  }

  .chatroomNotificationList ul li {
    font-size: 14px;
  }

  .chatroomNotificationList ul li p {
    font-size: 12px;
  }

  .chat__header-container_left {
    margin-left: 5px;
    margin-top: 0px;
    gap: 10px;
  }

  .chat__header-container_left-profile {
    height: 30px;
    width: 30px;
    margin-top: 0px;
  }

  .chat__header-container_left p {
    margin-left: 5px;
    font-size: 14px;
    margin-top: 0px;
  }

  .chat__header-container_right {
    margin-right: 10px;
  }

  .chat__header-container_notificationIcon,
  .chat__header-container_addIcon,
  .chat__header-container_infoIcon,
  .chat__header-container_refreshIcon,
  .crossIcon {
    font-size: 32px;
    padding: 5px;
  }

  .notificationIconContainer .chatroom-notification-count {
    top: -5px;
    right: -10px;
  }

  .chatroomInfoBox .imgBox,
  .friendInfoBox .imgBox {
    height: 150px;
    width: 150px;
  }

  .adminsMembersGroup {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .adminContainer {
    flex-direction: column;
  }

  .memberContainer {
    flex-direction: column;
  }

  .adminInfoContainer {
    width: 300px;
  }

  .memberInfoContainer {
    width: 300px;
  }
}


@media (max-width: 450px) {

  .chatroomNotificationList {
    width: 80%;
  }

  .chatroomInfoBox .imgBox,
  .friendInfoBox .imgBox {
    height: 175px;
    width: 175px;
  }

  .chatroomInfoBox h2 {
    font-size: 18px;
  }

  .chatroomInfoBox p {
    font-size: 12px;
  }

  .chatroomInfoBox .chatroomInfoEditButton {
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .adminsMembersGroup p {
    font-size: 12px;
  }

  .adminInfoContainer {
    width: 225px;
  }

  .memberInfoContainer {
    width: 225px;
  }

  .admins .adminImgContainer {
    height: 50px;
    width: 50px;
  }

  .members .memberImgContainer {
    height: 50px;
    width: 50px;
  }
}