.emptyPage {
  background-image: radial-gradient(circle 311px at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%);
  display: grid;
  height: 100vh;
  place-items: center;
}

.emptyPage p {
  font-size: 32px;

  background: linear-gradient(45deg, #333333, #666666, #999999, #CCCCCC, #FFFFFF);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width:767px) {
  .emptyPage {
    display: none;
    width: 0;
  }

  .chatRoomPage.selectedRoom {
    width: 100%;
  }
}