.chat__header-container {
  height: 50px;
  background: rgba(80, 80, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.chat__header-container_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  gap: 20px;
}

.chat__header-container_left-profile {
  height: 40px;
  width: 40px;
}

.chat__header-container_left-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat__header-container_left p {
  margin-left: 10px;
}

.chat__header-container_right {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  margin-right: 20px;
  position: relative;
}

.addIconContainer,
.infoIconContainer {
  cursor: pointer;
  font-size: 32px;
  padding: 5px;
  transition: 0.5s ease;
  display: flex;
}

.addIconContainer.disabled,
.infoIconContainer.disabled {
  cursor: auto;
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.addIconContainer:hover,
.infoIconContainer:hover,
.notificationIconContainer:hover {
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.addIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.infoIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.notificationIconContainer {
  cursor: pointer;
  font-size: 32px;
  padding: 5px;
  transition: 0.5s ease;
  display: flex;
}

.notificationIconContainer.disabled {
  cursor: auto;
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.notificationIconContainer.disabled:hover {
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.notificationIconContainer span {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.notificationIconContainer:hover span {
  visibility: visible;
  opacity: 1;
}

.chatroomNotificationList {
  position: absolute;
  top: 100%;
  right: 5%;
  width: 40%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;

}

.chatroomNotificationList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chatroomNotificationList ul li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.infoBoxFriend,
.infoBoxChatRoom {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid#ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* z-index: ; */
}

.infoBoxFriend ul,
.infoBoxChatRoom ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infoBoxFriend li,
.infoBoxChatRoom li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.friendInfoBox {
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  /* width: calc(100vw - 287px); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.friendInfoBox .imgBox {
  /* margin: 0 auto; */
  height: 450px;
  width: 450px;
  border-radius: 0;
}

.friendInfoBox .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.chatroomInfoBox {
  position: absolute;
  top: 50px;
  right: 0;
  /* left: 0; */
  height: calc(100vh - 50px);
  /* width: calc(100vw - 287px); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.chatroomInfoBox .imgBox {
  height: 450px;
  width: 450px;
  border-radius: 0;
}

.chatroomInfoBox .imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}