.chatBody {
  background-image: url(https://res.cloudinary.com/duxhnzvyw/image/upload/v1697024197/Chat%20App/compressed_whats_app_bg_pqa1bn.jpg );
  height: calc(100vh - 100px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.chatBodyUnKnown {
  background-image: linear-gradient(rgba(4, 9, 30, 0.15), rgba(4, 9, 30, 0.1)), url(https://res.cloudinary.com/duxhnzvyw/image/upload/v1697024197/Chat%20App/compressed_whats_app_bg_pqa1bn.jpg);
  height: calc(100vh - 100px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.chatBodyUnKnown p {
  display: grid;
  height: 100%;
  place-items: center;
  font-size: 32px;
  background-color: #ff8177;
  /* Fallback Value */
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.message {
  clear: both;
  margin: 5px 0 5px 0;
  padding: 5px;
  border-radius: 10px;
}

.message.left {
  float: left;
  background-color: #f2f2f2;
  margin-right: 50px;
}

.message.left .chatRoomChatUserName {
  color: #4793da;
  word-spacing: 2px;
}

.message.right {
  float: right;
  background-color: #07c0ff;
  color: white;
  margin-left: 50px;
}

.message.right .chatRoomChatUserName {
  color: #555;
  word-spacing: 2px;
  /* padding-bottom: 5px; */
}

.message .messageTimestamp {
  text-align: right;
  font-size: 10px;
  padding-top: 2px;
}

.chatBodyNoMessage {
  background-image: url(https://res.cloudinary.com/duxhnzvyw/image/upload/v1697024197/Chat%20App/compressed_whats_app_bg_pqa1bn.jpg);
  height: calc(100vh - 100px);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.chatBodyNoMessage p {
  text-align: center;
  font-weight: 500;
  color: #fff;
}

/* Styling for the "Back" button */
.backButtonIcon {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-75%);
  z-index: 9999;
}

.backButtonIcon button {
  padding: 0;
  background-color: transparent;
  color: #0fc330;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backButtonIcon button:hover {
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 767px) and (min-width:400px) {
  .chatBody {
    width: 100%;
  }
  
  .message {
    padding: 10px;
  }

  .message p {
    font-size: 12px;
  }

  .message.left .chatRoomChatUserName {
    word-spacing: 2px;
    padding-bottom: 2px;
  }

  .message.right {
    margin-left: 50px;
  }

  .message.right .chatRoomChatUserName {
    word-spacing: 2px;
    padding-bottom: 2px;
  }

  .message .messageTimestamp {
    font-size: 10px;
    padding-top: 2px;
  }
}

@media (max-width: 400px) {
  .message {
    padding: 5px;
  }

  .message p {
    font-size: 12px;
  }
  .chatBodyNoMessage p {
    font-size: 12px;
  }

}