.chatInput {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.chatInput input {
  font-size: 24px;
  flex: 0.9;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.chatInput button {
  outline: none;
  border: none;
  flex: 0.1;
  height: 100%;
  padding: 10px;
  font-size: larger;
  cursor: pointer;
  background-color: #bafff8;
  color: #8B4513;
  transition: 0.5s ease;
}

.chatInput button:hover {
  background-color: #D2691E;
  color: white;
}

@media (max-width: 767px) {
  .chatInput input {
    font-size: 16px;
    padding: 5px;
  }

  .chatInput button {
    font-size: 16px;
  }
}