.chat__header-container {
  height: 50px;
  background: rgba(80, 80, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__header-container_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  gap: 20px;
}

.chat__header-container_left-profile {
  height: 40px;
  width: 40px;
}

.chat__header-container_left-profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat__header-container_left p {
  margin-left: 10px;
}

.chat__header-container_right {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  margin-right: 20px;
  position: relative;
}

.addIconContainer,
.infoIconContainer {
  cursor: pointer;
  font-size: 32px;
  padding: 5px;
  transition: 0.5s ease;
  display: flex;
}

.addIconContainer.disabled,
.infoIconContainer.disabled {
  cursor: auto;
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.addIconContainer:hover,
.infoIconContainer:hover {
  border-radius: 40%;
  background: rgba(85, 85, 85, 0.2);
}

.tooltip {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.addIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.infoIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}