.dashboard {
  display: grid;
  grid-template-columns: 30% 70%;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .dashboard {
    width: 100%;
    display: flex;
  }
}