.body__header-container {
  height: 50px;
  background: rgba(85, 85, 85, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.body__header-container_profile {
  height: 40px;
  width: 40px;
  margin-left: 10px;
}

.body__header-container_profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.body__header-container_icons {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.body__header-container_notification,
.body__header-container_info,
.body__header-container .crossIcon {
  cursor: pointer;
  border-radius: 50%;
  font-size: 42px;
  padding: 10px;
}

.body__header-container_info {
  margin-left: 50px;
}

.body__header-container_info:hover,
.body__header-container_notification:hover {
  background: rgba(85, 85, 85, 0.1);
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-icon .body__header-container_notification {
  position: relative;
}

.notification-count {
  position: absolute;
  top: 0px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}

.notificationList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 400px;
  overflow-y: auto;
  z-index: 100;
}

.notificationList ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notificationList ul li {
  padding: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.notificationList ul p {
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

.notificationList ul p span {
  font-weight: normal;
}

.notificationList ul li.friendRequestAccepted {
  color: #28a745;
}

.notificationList ul li.friendRequestRejected {
  color: #dc3545;
}

.notificationList ul li.notificationRead {
  background-color: #e0e0e0;
  color: #555555;
}

.notificationList ul li.notificationUnRead {
  background-color: #ffffcc;
  color: #333333;
}

.friendRequestButtonsGroup {
  margin: 10px 50% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.acceptButton,
.rejectButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
}

.acceptButton {
  background-color: #28a745;
}

.rejectButton {
  background-color: #dc3545;
}

.notificationButtons {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #E0E8F5; 
  display: flex;
  justify-content: space-around;
  padding: 8px;
  z-index: 101;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #BFD7EA;
}

.notificationButtons button {
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
}

.notificationButtons button.readAll {
  background-color: #5DB85D;
  color: white;
  transition: background-color 0.3s;
}

.notificationButtons button.readAll:hover {
  background-color: #4CAF50;
}

.notificationButtons button.deleteAll {
  background-color: #FF6B6B; 
  color: white;
  transition: background-color 0.3s;
}

.notificationButtons button.deleteAll:hover {
  background-color: #E74A4A;
}

.infoBox {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.infoBox ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.infoBox li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.userInfoBox {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom right, #fddb92, #d1fdff);
  z-index: 10;
  height: calc(100vh - 50px);
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.userInfoBox .imgBox {
  height: 350px;
  width: 350px;
  border-radius: 10%;
}

.imgBox img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.userInfoBox h2 {
  color: var(--color-text);
}

.userInfoBox p {
  width: 80%;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: var(--color-subtext);
}

.userInfoBox button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 15px;
  background: transparent;
  outline: none;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  font-weight: 700;
}

.userInfoBox button:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .body__header-container.bodyHeaderInActive {
    width: 0%;
    height: 0%;
    display: block;
  }

  .body__header-container.bodyHeaderInActive .body__header-container_notification,
  .body__header-container.bodyHeaderInActive .body__header-container_info {
    height: 0;
    width: 0;
  }

  .body__header-container.bodyHeaderInActive .body__header-container_profile {
    height: 0;
    width: 0;
  }

  .body__header-container.bodyHeaderInActive .notification-count {
    display: none;
  }

  .body__header-container_notification,
  .body__header-container_info,
  .body__header-container .crossIcon {
    font-size: 32px;
    padding: 5px;
  }

  .body__header-container .notification-count {
    top: -5px;
    right: -10px;
  }

  .notificationList ul p {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .body__header-container .userInfoBox .imgBox {
    height: 250px;
    width: 250px;
  }
}