.chatInfo {
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.chatInfo .friendProfileBox {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chatInfo .friendProfileBox img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.chatInfo h4 {
  margin-bottom: 3px;
  background: linear-gradient(45deg, #4d90fe, #6f45f2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 767px) {
  .chatInfo {
    padding: 5px;
  }

  .chatInfo .friendProfileBox {
    height: 40px;
    width: 40px;
  }

  .chatInfo h4 {
    font-size: 14px;
  }
}